<!DOCTYPE html>
<html>
<head>
  <title>Add a New Hero</title>
</head>
<body>
  <h1>Add a New Hero</h1>
  <form action="/heroes" method="post">
    <label>Name: <input type="text" name="name"></label><br>
    <label>Age: <input type="number" name="age"></label><br>
    <label>Special Power: <input type="text" name="specialPower"></label><br>
    <label>Weakness: <input type="text" name="weakness"></label><br>
    <input type="submit" value="Add Hero">
  </form>
</body>
</html>

